body {
    background-color: black;

}
h1 {
    color: white;
    background-color: blueviolet;
}

header {
    color: white;
    background-color:aqua;
}


ul li {
    color: white;
    background-color: blue;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}


ol li {
    color: white;
    background-color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

